<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BloodBank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>services.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogin</display-name>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>services.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/CustomerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomer</display-name>
    <servlet-name>AddCustomer</servlet-name>
    <servlet-class>services.AddCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomer</servlet-name>
    <url-pattern>/AddCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBloodBank</display-name>
    <servlet-name>AddBloodBank</servlet-name>
    <servlet-class>services.AddBloodBank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBloodBank</servlet-name>
    <url-pattern>/AddBloodBank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>services.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloodBankLogin</display-name>
    <servlet-name>BloodBankLogin</servlet-name>
    <servlet-class>services.BloodBankLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloodBankLogin</servlet-name>
    <url-pattern>/BloodBankLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCamp</display-name>
    <servlet-name>AddCamp</servlet-name>
    <servlet-class>services.AddCamp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCamp</servlet-name>
    <url-pattern>/AddCamp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStock</display-name>
    <servlet-name>UpdateStock</servlet-name>
    <servlet-class>services.UpdateStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStock</servlet-name>
    <url-pattern>/UpdateStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloodRequest</display-name>
    <servlet-name>BloodRequest</servlet-name>
    <servlet-class>services.BloodRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloodRequest</servlet-name>
    <url-pattern>/BloodRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRequest</display-name>
    <servlet-name>UpdateRequest</servlet-name>
    <servlet-class>services.UpdateRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRequest</servlet-name>
    <url-pattern>/UpdateRequest</url-pattern>
  </servlet-mapping>
</web-app>